<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div>Months:
  <select (change)="changemonth($event)">
    <option *ngFor="let i of months">{{i}}</option>
  </select>
</div>
<br/>
<div>
  <span *ngIf="check; else condition">Condition is valid</span>
<ng-template #condition>Condition is Invalid</ng-template>
</div>
<div>
  <span *ngIf="available; then condition1 else condition2">Condition is valid</span>
  <ng-template #condition1>Condition is True</ng-template>
  <ng-template #condition2>Condition is False</ng-template>
</div>
<div>
  <button (click)="myFun($event)">
    Click Me
  </button>
</div>
<div>
  <button class="button2" (click)="fun1($event)">
    Click here
  </button>
</div>
<div>
  <span *ngIf="see; then c1 else c2">valid</span>
  <ng-template #c1>Valid Template</ng-template>
  <ng-template #c2>Invalid Template</ng-template>
</div>

<b>{{title|uppercase}}</b><br/>
<b>{{title|lowercase}}</b>